on:
  push:
  pull_request:
  workflow_dispatch: 
  schedule:
    - cron: '0 0 * * *' # runs daily at 00:00

name: Deadnix Code Analysis
permissions:
  contents: write
  pull-requests: write

jobs:
  deadnix:
    name: Deadnix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: deadnix
      - uses: astro/deadnix-action@main
      - name: Add label to Deadnix PR
              if: success()
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                gh pr edit deadnix --add-label "automated" || echo "No PR found to label"
